In [29]:
import pickle
import pandas as pd
import numpy as np

In [2]:
enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [3]:
print type(enron_data)

<type 'dict'>

In [4]:
df = pd.DataFrame(enron_data).transpose()

In [5]:
print df.head()

                      bonus deferral_payments deferred_income director_fees  \
ALLEN PHILLIP K     4175000           2869717        -3081055           NaN
BADUM JAMES P           NaN            178980             NaN           NaN
BANNANTINE JAMES M      NaN               NaN           -5104           NaN
BAXTER JOHN C       1200000           1295738        -1386055           NaN
BAY FRANKLIN R       400000            260455         -201641           NaN

                                 email_address exercised_stock_options  \
ALLEN PHILLIP K        phillip.allen@enron.com                 1729541
BADUM JAMES P                              NaN                  257817
BANNANTINE JAMES M  james.bannantine@enron.com                 4046157
BAXTER JOHN C                              NaN                 6680544
BAY FRANKLIN R             frank.bay@enron.com                     NaN

                   expenses from_messages from_poi_to_this_person  \
ALLEN PHILLIP K       13868          2195                      47
BADUM JAMES P          3486           NaN                     NaN
BANNANTINE JAMES M    56301            29                      39
BAXTER JOHN C         11200           NaN                     NaN
BAY FRANKLIN R       129142           NaN                     NaN

                   from_this_person_to_poi        ...         \
ALLEN PHILLIP K                         65        ...
BADUM JAMES P                          NaN        ...
BANNANTINE JAMES M                       0        ...
BAXTER JOHN C                          NaN        ...
BAY FRANKLIN R                         NaN        ...

                   long_term_incentive    other    poi restricted_stock  \
ALLEN PHILLIP K                 304805      152  False           126027
BADUM JAMES P                      NaN      NaN  False              NaN
BANNANTINE JAMES M                 NaN   864523  False          1757552
BAXTER JOHN C                  1586055  2660303  False          3942714
BAY FRANKLIN R                     NaN       69  False           145796

                   restricted_stock_deferred  salary shared_receipt_with_poi  \
ALLEN PHILLIP K                      -126027  201955                    1407
BADUM JAMES P                            NaN     NaN                     NaN
BANNANTINE JAMES M                   -560222     477                     465
BAXTER JOHN C                            NaN  267102                     NaN
BAY FRANKLIN R                        -82782  239671                     NaN

                   to_messages total_payments total_stock_value
ALLEN PHILLIP K           2902        4484442           1729541
BADUM JAMES P              NaN         182466            257817
BANNANTINE JAMES M         566         916197           5243487
BAXTER JOHN C              NaN        5634343          10623258
BAY FRANKLIN R             NaN         827696             63014

[5 rows x 21 columns]

In [6]:
print df.shape

(146, 21)

In [7]:
print (df['poi'] == True).sum()

18

In [8]:
print df.loc['PRENTICE JAMES']

bonus                                             NaN
deferral_payments                              564348
deferred_income                                   NaN
director_fees                                     NaN
email_address                james.prentice@enron.com
exercised_stock_options                        886231
expenses                                          NaN
from_messages                                     NaN
from_poi_to_this_person                           NaN
from_this_person_to_poi                           NaN
loan_advances                                     NaN
long_term_incentive                               NaN
other                                             NaN
poi                                             False
restricted_stock                               208809
restricted_stock_deferred                         NaN
salary                                            NaN
shared_receipt_with_poi                           NaN
to_messages                                       NaN
total_payments                                 564348
total_stock_value                             1095040
Name: PRENTICE JAMES, dtype: object

In [9]:
print df.loc['COLWELL WESLEY']

bonus                                      1200000
deferral_payments                            27610
deferred_income                            -144062
director_fees                                  NaN
email_address                wes.colwell@enron.com
exercised_stock_options                        NaN
expenses                                     16514
from_messages                                   40
from_poi_to_this_person                        240
from_this_person_to_poi                         11
loan_advances                                  NaN
long_term_incentive                            NaN
other                                       101740
poi                                           True
restricted_stock                            698242
restricted_stock_deferred                      NaN
salary                                      288542
shared_receipt_with_poi                       1132
to_messages                                   1758
total_payments                             1490344
total_stock_value                           698242
Name: COLWELL WESLEY, dtype: object

In [10]:
print df.loc['SKILLING JEFFREY K']

bonus                                        5600000
deferral_payments                                NaN
deferred_income                                  NaN
director_fees                                    NaN
email_address                jeff.skilling@enron.com
exercised_stock_options                     19250000
expenses                                       29336
from_messages                                    108
from_poi_to_this_person                           88
from_this_person_to_poi                           30
loan_advances                                    NaN
long_term_incentive                          1920000
other                                          22122
poi                                             True
restricted_stock                             6843672
restricted_stock_deferred                        NaN
salary                                       1111258
shared_receipt_with_poi                         2042
to_messages                                     3627
total_payments                               8682716
total_stock_value                           26093672
Name: SKILLING JEFFREY K, dtype: object

In [11]:
print df.loc['LAY KENNETH L']

bonus                                      7000000
deferral_payments                           202911
deferred_income                            -300000
director_fees                                  NaN
email_address                kenneth.lay@enron.com
exercised_stock_options                   34348384
expenses                                     99832
from_messages                                   36
from_poi_to_this_person                        123
from_this_person_to_poi                         16
loan_advances                             81525000
long_term_incentive                        3600000
other                                     10359729
poi                                           True
restricted_stock                          14761694
restricted_stock_deferred                      NaN
salary                                     1072321
shared_receipt_with_poi                       2411
to_messages                                   4273
total_payments                           103559793
total_stock_value                         49110078
Name: LAY KENNETH L, dtype: object

In [12]:
print df.loc['FASTOW ANDREW S']

bonus                                        1300000
deferral_payments                                NaN
deferred_income                             -1386055
director_fees                                    NaN
email_address                andrew.fastow@enron.com
exercised_stock_options                          NaN
expenses                                       55921
from_messages                                    NaN
from_poi_to_this_person                          NaN
from_this_person_to_poi                          NaN
loan_advances                                    NaN
long_term_incentive                          1736055
other                                         277464
poi                                             True
restricted_stock                             1794412
restricted_stock_deferred                        NaN
salary                                        440698
shared_receipt_with_poi                          NaN
to_messages                                      NaN
total_payments                               2424083
total_stock_value                            1794412
Name: FASTOW ANDREW S, dtype: object

In [13]:
print df.columns

Index([u'bonus', u'deferral_payments', u'deferred_income', u'director_fees',
       u'email_address', u'exercised_stock_options', u'expenses',
       u'from_messages', u'from_poi_to_this_person',
       u'from_this_person_to_poi', u'loan_advances', u'long_term_incentive',
       u'other', u'poi', u'restricted_stock', u'restricted_stock_deferred',
       u'salary', u'shared_receipt_with_poi', u'to_messages',
       u'total_payments', u'total_stock_value'],
      dtype='object')

In [22]:
# number of people having quantified salaries

print df['salary'].shape[0] 
print df['salary']

146
ALLEN PHILLIP K                    201955
BADUM JAMES P                         NaN
BANNANTINE JAMES M                    477
BAXTER JOHN C                      267102
BAY FRANKLIN R                     239671
BAZELIDES PHILIP J                  80818
BECK SALLY W                       231330
BELDEN TIMOTHY N                   213999
BELFER ROBERT                         NaN
BERBERIAN DAVID                    216582
BERGSIEKER RICHARD P               187922
BHATNAGAR SANJAY                      NaN
BIBI PHILIPPE A                    213625
BLACHMAN JEREMY M                  248546
BLAKE JR. NORMAN P                    NaN
BOWEN JR RAYMOND M                 278601
BROWN MICHAEL                         NaN
BUCHANAN HAROLD G                  248017
BUTTS ROBERT H                     261516
BUY RICHARD B                      330546
CALGER CHRISTOPHER F               240189
CARTER REBECCA C                   261809
CAUSEY RICHARD A                   415189
CHAN RONNIE                           NaN
CHRISTODOULOU DIOMEDES                NaN
CLINE KENNETH W                       NaN
COLWELL WESLEY                     288542
CORDES WILLIAM R                      NaN
COX DAVID                          314288
CUMBERLAND MICHAEL S               184899
                                   ...
SHANKMAN JEFFREY A                 304110
SHAPIRO RICHARD S                  269076
SHARP VICTORIA T                   248146
SHELBY REX                         211844
SHERRICK JEFFREY B                    NaN
SHERRIFF JOHN R                    428780
SKILLING JEFFREY K                1111258
STABLER FRANK                      239502
SULLIVAN-SHAKLOVITZ COLLEEN        162779
SUNDE MARTIN                       257486
TAYLOR MITCHELL S                  265214
THE TRAVEL AGENCY IN THE PARK         NaN
THORN TERENCE H                    222093
TILNEY ELIZABETH A                 247338
TOTAL                            26704229
UMANOFF ADAM S                     288589
URQUHART JOHN A                       NaN
WAKEHAM JOHN                          NaN
WALLS JR ROBERT H                  357091
WALTERS GARETH W                      NaN
WASAFF GEORGE                      259996
WESTFAHL RICHARD K                  63744
WHALEY DAVID A                        NaN
WHALLEY LAWRENCE G                 510364
WHITE JR THOMAS E                  317543
WINOKUR JR. HERBERT S                 NaN
WODRASKA JOHN                         NaN
WROBEL BRUCE                          NaN
YEAGER F SCOTT                     158403
YEAP SOON                             NaN
Name: salary, dtype: object

In [18]:
sd = pd.Series()

In [30]:
#print pd.notnull(df['salary'])
print type(df['salary'][1])
print type(np.NaN)

<type 'str'>
<type 'float'>

In [34]:
df['salary'].apply(lambda val : True if val != 'NaN' else False).sum()

#number of people who have valid salaries

95

In [36]:
df['email_address'].apply(lambda val : True if val != 'NaN' else False).sum()

#number of people who have valid email addresses

111

In [39]:
df['total_payments'].apply(lambda val : True if val == 'NaN' else False).sum() / float(df.shape[0])

#percentage of people having NaN for total payment

0.14383561643835616

In [40]:
poi_df = df[df['poi'] == True ]

In [44]:
poi_df['total_payments'].apply(lambda val : True if val == 'NaN' else False).sum() / float(poi_df.shape[0])

0.0

In [46]:
df.shape[0]

146

In [47]:
poi_df.shape[0]

18